<div class="page-header">
  <div class="overlay">
    <div class="container">
      <div class="row">
        <a routerLink="/etkinlikler" class="about-button text-center hidden-md hidden-lg mobile-back">Etkinlikler</a>
        <a routerLink="/ana-sayfa" class="about-button text-center hidden-md hidden-lg mobile-back">Ana Sayfa</a>

        <div class="col-md-12">
          <a routerLink="/etkinlikler"
            class="about-button blog-button text-left hidden-xs hidden-sm desktop-back">Etkinlikler</a>
          <a routerLink="/ana-sayfa" class="about-button text-left hidden-xs hidden-sm desktop-back">Ana Sayfa</a>
        </div>
      </div>
    </div>
  </div>
</div>
<section class="event-detail">
  <div class="container">
    <div class="col-md-12 col-sm-12 col-xs-12">
      <div class="row">
        <div class="event" *ngIf="event">

          <img src="{{event.thumbnail}}" class="img-responsive" alt={{event.name}}>

          <div class="row mb-1">
            <div class="col-md-8 col-sm-8 col-xs-12">
              <h1>{{event.name}}</h1>
            </div>
            <div class="col-md-3 col-sm-3 col-xs-12 pull-right">
              <a target="_blank" rel="nofollow" class="btn btn-primary readmore btn-lg btn-block gtag"
                href="{{event.origin_url}}">Şimdi Başvur</a>
            </div>
          </div>

          <div class="row p-1">
            <div class="panel mr-1 col-md-2 col-sm-2 col-xs-12">
              <div class="panel-body">
                Etkinlik Konumu: <p><strong>{{event.location}}</strong></p>
              </div>
            </div>

            <div class="panel mr-1 col-md-2 col-sm-2 col-xs-12">
              <div class="panel-body">
                Son Başvuru: <p><strong>{{getDateTurkish(event.deadline || event.starts_at)}}</strong></p>
              </div>
            </div>

            <div class="panel mr-1 col-md-2 col-sm-2 col-xs-12">
              <div class="panel-body">
                Başlangıç Tarihi: <p><strong>{{getDateTurkish(event.starts_at)}}</strong></p>
              </div>
            </div>

            <div class="panel mr-1 col-md-2 col-sm-2 col-xs-12">
              <div class="panel-body">
                Bitiş Tarihi: <p><strong>{{getDateTurkish(event.ends_at)}}</strong></p>
              </div>
            </div>
          </div>

          <p class="line">
            {{event.description}}
          </p>

          <div [innerHTML]="event.body"></div>

          <hr>

        </div>
      </div>
    </div>
  </div>
</section>
<footer class="mb-1">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 text-center"><a target="_blank" class="gtag" style="color: white;"
          href="https://www.appcent.mobi/?ref=hackathonturkiye">Hackathon Türkiye Appcent tarafından
          desteklenmektedir.</a>
      </div>
    </div>
  </div>
</footer>