<div class="page-header">
  <div class="overlay">
    <div class="container">
      <div class="row">
        <a routerLink="/etkinlikler" class="about-button text-center hidden-md hidden-lg mobile-back">Etkinlikler</a>
        <a routerLink="/ana-sayfa" class="about-button text-center hidden-md hidden-lg mobile-back">Ana Sayfa</a>

        <div class="col-md-12">
          <a routerLink="/etkinlikler"
            class="about-button blog-button text-left hidden-xs hidden-sm desktop-back">Etkinlikler</a>
          <a routerLink="/ana-sayfa" class="about-button text-left hidden-xs hidden-sm desktop-back">Ana Sayfa</a>
        </div>
      </div>
    </div>
  </div>
</div>
<section class="event-detail">
  <div class="container">
    <div class="col-md-12 col-sm-12 col-xs-12">
      <div class="row">
        <div class="event" *ngIf="event">

          <div class="row">
            <div class="col-md-8 col-sm-8 col-xs-12">
              <h1>{{event.name}}</h1>
            </div>
            <div class="col-md-3 col-sm-3 col-xs-12"> 
              <a target="_blank" rel="nofollow" class="pull-right btn btn-primary readmore btn-lg gtag"
                href="{{event.origin_url}}">Şimdi Başvur</a>
            </div>
          </div>

          <p class="line">
            {{event.description}}
          </p>

          <img src="{{event.thumbnail}}" class="img-responsive" alt={{event.name}}>

          <div [innerHTML]="event.body" class="ebody"></div>

          <hr>


          <hr>

          <div class="line">
            <disqus [identifier]="pageId"></disqus>
          </div>

        </div>
      </div>
    </div>
  </div>
</section>