<!-- Start find Us Section -->

<section id="find-section" class="find-section">
  <div class="container">
    <div class="row">

      <div class="col-md-7 wow fadeInLeft" data-wow-duration="2s" data-wow-delay="600ms">
        <div class="col-md-4">
          <select id="eventCategory" class="form-control" [ngModel]="eventType" required>
            <option value="">Kategoriye Göre</option>
            <option value="hackathon">Hackathon</option>
            <option value="makeathon">Makeathon</option>
            <option value="ideathon">Ideathon</option>
            <option value="datathon">Datathon</option>
            <option value="gamejam">Game Jam</option>
            <option value="educathon">Educathon</option>
            <option disabled>---------</option>
            <option value="webinar">Webinar</option>
            <option value="workshop">Workshop</option>
          </select>
        </div>
        <div class="col-md-4">
          <select class="form-control" required>
            <option value="">Etikete Göre</option>
          </select>
        </div>
        <div class="col-md-4">
          <select class="form-control" required>
            <option value="">Duruma Göre</option>
          </select>
        </div>



      </div>
      <div class="col-md-2 wow zoomIn" data-wow-duration="1s" data-wow-delay="600ms">
        <button type="submit" class="btn btn-info btn-sm">Yarışma Ara</button>
      </div>
      <div class="col-md-3 wow fadeInLeft" data-wow-duration="2s" data-wow-delay="600ms">
        <ul>

          <li>
            2018
          </li>

          <li>
            2019
          </li>

          <li>
            2020
          </li>

          <li>
            Sıradakiler
          </li>
        </ul>
      </div>
    </div>

    <div *ngIf="events && events.length > 0">
      <div class="post" *ngFor="let xathon of events;">

        <div class="row">
          <div class="col-md-5 p0">
            <div class="find-img">
              <img src="../../../assets/images/corporate1.jpg" class="img-responsive" alt="find images">
              <div class="post-text">
                <span>ONLİNE</span>
              </div>
            </div>
          </div>
          <div class="col-md-7 p0">
            <div class="col-md-7">
              <div class="find-header">
                <h3>{{xathon.name}}</h3>
              </div>
              <div class="find-tag">

                <div class="tagcloud">
                  <a href="#">Charity</a>
                  <a href="#">Children</a>
                  <a href="#">Education</a>
                  <a href="#">Elderly</a>
                  <a href="#">Humanity</a>
                </div>

              </div>
              <div class="find-text">
                <p>{{xathon.description}}
                </p>
              </div>

              <div>
                <button class="btn btn-primary readmore btn-lg">Şimdi Başvur</button>
                <i class="fa fa-trophy fa-2x find-trophy">
                  <span class="dolar">
                    <i class="fa fa-dollar fa-sm"></i>
                  </span>
                </i>
              </div>
            </div>
            <div class="col-md-5 p0">

              <div class="find-table">

                <table class="table table-sm table-bordered mr-15">
                  <thead>
                    <tr>
                      <td>Başlangıç</td>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>21 Haz</td>
                    </tr>
                  </tbody>
                </table>

                <table class="table table-sm table-bordered">
                  <thead>
                    <tr>
                      <td>Bitiş</td>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>12 Haz</td>
                    </tr>
                  </tbody>
                </table>



              </div>

              <div class="find-table-sub">
                <p>Kalan Süre</p>
                <table class="table table-sm table-bordered">
                  <thead>
                    <tr>
                      <td>03</td>
                      <td>06</td>
                      <td>52</td>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>GÜN</td>
                      <td>SA</td>
                      <td>DK</td>
                    </tr>
                  </tbody>
                </table>
              </div>

            </div>

          </div>



        </div>
      </div>
    </div>

  </div>
</section>
