<!-- Start find Us Section -->
<div class="page-header">
  <div class="overlay">
    <div class="container">
      <div class="row">
        <a routerLink="/ana-sayfa" class="about-button text-center hidden-md hidden-lg mobile-back">Ana Sayfa</a>
        <div class="col-md-12">
          <a routerLink="/ana-sayfa" class="about-button text-left hidden-xs hidden-sm desktop-back">Ana Sayfa</a>
          <h1>Hackathon Etkinlikler</h1>
        </div>
      </div>
    </div>
  </div>
</div>

<section id="find-section" class="find-section">
  <div class="container">
    <div class="row mb-1">

      <div class="col-md-8 wow fadeInLeft" data-wow-duration="2s" data-wow-delay="600ms">
        <div class="col-md-4">
          <select id="eventCategory" class="form-control" [(ngModel)]="eventType">
            <option value="hepsi" selected>Kategoriye Göre</option>
            <option value="hackathon">Hackathon</option>
            <option value="makeathon">Makeathon</option>
            <option value="ideathon">Ideathon</option>
            <option value="datathon">Datathon</option>
            <option value="gamejam">Game Jam</option>
            <option value="siber">Siber Güvenlik</option>
            <option value="educathon">Educathon</option>
            <option disabled>---------</option>
            <option value="webinar">Webinar</option>
            <option value="workshop">Workshop</option>
          </select>
        </div>
        <div class="col-md-4">
          <select class="form-control" [(ngModel)]="eventLoc">
            <option value="heryer" selected>Lokasyona Göre</option>
            <option value="online">Online</option>
            <option value="istanbul">İstanbul</option>
            <option value="ankara">Ankara</option>
            <option value="izmir">İzmir</option>
            <option value="antalya">Antalya</option>
            <option value="gaziantep">Gaziantep</option>
            <option value="şanlıurfa">Şanlıurfa</option>
          </select>
        </div>
        <div class="col-md-4">
          <select class="form-control" [(ngModel)]="status">
            <option value="">Duruma Göre</option>
            <option value="yakinda">Yakında Başlayacaklar</option>
            <option value="devam-eden">Devam Edenler</option>
            <option value="gecmis">Sonlananlar</option>
          </select>
        </div>
      </div>
      <div class="col-md-4 wow zoomIn search-btn" data-wow-duration="1s" data-wow-delay="600ms">
        <button type="button" class="btn btn-primary btn-sm search" (click)="navigate()">Yarışma Ara</button>
      </div>
    </div>

    <div *ngIf="events && events.length > 0">
      <div class="post" *ngFor="let xathon of events;">

        <div class="row">
          <div class="col-md-4 p0">
            <div class="find-img">
              <img src="{{xathon.thumbnail}}" class="img-responsive" alt={{xathon.name}}>
              <div class="post-text">
                <span>{{xathon.location}}</span>
              </div>
            </div>
          </div>
          <div class="col-md-8 p0">
            <div class="col-md-8">
              <div class="find-header">
                <h2>{{xathon.name}}</h2>
              </div>

              <div class="find-tag">
                <div class="tagcloud" *ngIf="xathon.tags">
                  <div *ngFor="let eventTag of xathon.tags;">
                    <a routerLink="/etiket/{{eventTag.slug}}/tag">{{eventTag.name}}</a>

                  </div>

                </div>
              </div>
              <div class="find-text">
                <p>{{getDescription(xathon.description)}}
                </p>
              </div>

              <div class="detail">
                <a *ngIf="!xathon.has_details" target="_blank" rel="nofollow" class="btn btn-primary readmore btn-lg gtag"
                  href="{{xathon.url}}">Şimdi Başvur</a>

                <a *ngIf="xathon.has_details" class="btn btn-primary readmore btn-lg"
                routerLink="/etkinlik/{{xathon.slug}}">Detaylar</a>

                <i class="fa fa-trophy fa-2x find-trophy">
                  <span class="dolar" *ngIf="xathon.prize">
                    <i class="fa fa-dollar fa-sm"></i>
                  </span>
                </i>
              </div>
            </div>
            <div class="col-md-4 p0" *ngIf="isItFinished(xathon.ends_at)">

              <div class="find-table table-responsive">

                <table class="table table-sm table-bordered mr-15">
                  <thead>
                    <tr>
                      <td>Başlangıç</td>
                      <td>Bitiş</td>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>{{getDateTurkish(xathon.starts_at)}}</td>
                      <td>{{getDateTurkish(xathon.ends_at)}}</td>
                    </tr>
                  </tbody>
                </table>
              </div>

              <div class="find-table-sub table-responsive">
                <p>Kalan Süre</p>
                <table class="table table-sm table-bordered">
                  <thead>
                    <tr>
                      <td>{{getDateDiffDay(xathon.starts_at)}}</td>
                      <td>{{getDateDiffHour(xathon.starts_at)}}</td>
                      <td>{{getDateDiffMinute(xathon.starts_at)}}</td>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>GÜN</td>
                      <td>SA</td>
                      <td>DK</td>
                    </tr>
                  </tbody>
                </table>
              </div>

            </div>

            <div class="col-md-4 img-finished" *ngIf="!isItFinished(xathon.ends_at)">

            <img class="img-responsive" src="../../../assets/images/finished.svg">

            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="text-center">
      <a class="about-button" *ngIf="events && next" (click)="loadMore()">Daha Fazla Yükle</a>
    </div>

    <h3 class="text-danger text-center" *ngIf="!events || events.length === 0"> Kayıt Bulunamadı</h3>
  </div>
</section>
<footer class="mb-1">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 text-center"><a target="_blank" class="gtag" style="color: white;"
          href="https://bit.ly/htpoweredby">Hackathon Türkiye Appcent tarafından
          desteklenmektedir.</a>
      </div>
    </div>
  </div>
</footer>
