h1 {
  font-size: 28px;
}

ul {
  display: flex;
}

ul li {
  margin-right: 15px;
  font-size: 18px;
  line-height: 28px;
  color: #C9F0FF;
  text-align: center;
  cursor: pointer;
}

ul li:last-child {
  text-decoration: underline;
}

#contactForm {
  margin-bottom: 30px;
}

.post .row {
  background-color: #E8E8E8;
  margin-bottom: 25px;
}

.find-header {
  font-weight: 500;
  font-size: 24px;
  margin-top: 15px;
  letter-spacing: 0.1em;
  color: #16222A;
}

.find-section {
  padding-bottom: 50px;
}

.readmore {
  font-weight: bold;
  font-size: 18px;
  text-transform: uppercase;
  color: #4392F1;
  background: transparent;
}

.find-img img {
  width: 546px;
  height: 257px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.mb-1 {
  margin-bottom: 12px;
}

h2 {
  font-size: 24px;
  font-weight: 400;
  line-height: 110%;
  padding: 10px 0 20px 0;
  border-bottom: 1px solid #ddd;
  text-transform: capitalize;
}

.post-text {
  position: absolute;
  top: 91.1%;
  background: #4392F1;
  height: 46px;
  width: 100%;
  left: 50.1%;
  transform: translate(-50%, -50%);
  font-size: 34px;
  line-height: 16px;
  align-items: center;
  text-align: center;
  letter-spacing: 0.2em;
  color: #E8E8E8;
  padding-top: 6px;
}

.post-text span {
  line-height: initial;
  text-transform: uppercase;
}

.tagcloud {
  display: flex;
}

.tagcloud a {
  display: inline-block;
  color: white;
  cursor: pointer;
  font-size: 14px;
  padding: 5px 8px;
  background: #4392F1;
  margin: 15px 10px 15px 0;
  border-radius: 30px;
  transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  border: 1px solid black;
}

.tagcloud a:hover {
  background: #f2f2f2;
  color: black;
  border: 1px solid black;
}

.p0 {
  padding: 0;
}

.find-trophy {
  background-color: #4392F1;
  color: white;
  margin-left: 45px;
  padding: 7px;
  border-radius: 30px;
}

.p-r-0 {
  padding-right: 0;
}

table {
  text-align: center;
}

.find-table {
  margin-top: 25px;
  margin-right: 15px;
}

.mr-15 {
  margin-right: 15px;
}

.find-table-sub {
  margin-right: 15px;
}

.find-table-sub p {
  font-size: 18px;
  line-height: 20px;
  text-align: center;
  letter-spacing: 0.1em;
  color: #000000;
}

.img-finished {
  text-align: center;
  padding: 30px;
}

.dolar {
  font-size: 10px;
  position: absolute;
  bottom: -3px;
  background: green;
  padding: 4px;
  border: 1px solid black;
  border-radius: 15px;
  left: 77%;
}

.page-header {
  border: none;
}

.page-header h1 {
  font-weight: bold;
  line-height: 56px;
  color: #C9F0FF;
  font-family: 'Lora', serif;
  text-align: center;
  letter-spacing: 0.08em;
  text-transform: uppercase;
  font-variant: small-caps;
}

a.about-button {
  border-radius: 50px;
  color: #fff;
  display: inline-block;
  padding: 10px 15px;
  font-size: 18px;
  line-height: 1;
  cursor: pointer;
  margin-top: 28px;
  text-transform: uppercase;
  box-shadow: 0 2px 0 0 rgba(196, 101, 97, 0.25), 0 -2px 0 0 rgba(76, 201, 189, 0.25), 2px 0 0 0 rgba(196, 101, 97, 0.25), -2px 0 0 0 rgba(76, 201, 189, 0.25), 2px -2px 0 0 rgba(136, 151, 143, 0.5), -2px 2px 0 0 rgba(136, 151, 143, 0.5), 2px 2px 0 0 rgba(255, 51, 51, 0.75), -2px -2px 0 0 rgba(16, 251, 234, 0.75);
}
a.about-button:before {
  display: none;
}

.page-header .mobile-back {
  width: 50%;
  margin: 0 auto;
  text-align: center;
  display: block;
  margin-bottom: 2em;
}

.page-header .desktop-back {
  position: absolute;
  margin-top: 1em;
}

.search {
  height: 34px;
  border: 1px solid #0000007a;
  padding: 5px;
  font-size: 14px;
}

.container {
  margin-top: 20px;
}

@media (min-width: 320px) and (max-width: 480px) {
  .search-btn {
    margin-top: 1em;
    text-align: center;
  }
  .detail {
    text-align: center;
  }
  .img-finished {
    padding: 65px;
  }
}


@media (min-width: 768px) and (max-width: 1024px) {
  .search-btn {
    margin-top: 1em;
    text-align: center;
  }
  .detail {
    text-align: center;
  }
  .img-finished {
    padding: 135px;
  }
}
