<!-- Start Footer Section -->
<section id="footer-section" class="footer-section">
    <div class="container">
        <div class="row">

            <div class="col-md-4">
                <div class="section-heading-2">
                    <h3 class="section-title">
                       BÜLTEN İÇİN KAYDOL
                    </h3>
                </div>
                <div class="subscription">
                    <p>İçerikler ve güncel paylaşımlardan ilk önce siz haberdar olun. Haftalık bültenlerimiz ile gündemden uzak kalmayın</p>
                    <form action="/hms/accommodations" method="GET"> 
                        <div class="row">
                          <div class="col-md-10">
                            <div class="input-group">
                              <input type="email" class="form-control send-input"  placeholder="Mail" id="sub_email" name="sub-email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" required/>
                              <div class="input-group-btn">
                                <button class="btn btn-primary send-mail" type="submit">
                                  <span class="glyphicon glyphicon-floppy-disk"></span>
                                </button>
                              </div>
                            </div>
                          </div>
                        </div>
                      </form>
                </div>
            </div>
            <div class="col-md-5">
                <div class="col-md-6">
                    <div class="section-heading-2">
                        <h3 class="section-title">
                           Hakkımzda
                        </h3>
                    </div>
    
                    <div class="about-us">
                        <div class="media">
                          
                            <div class="media-body">
                                <h4 class="media-heading">HACKATHON TÜRKİYE</h4>
                                <p>Finally #tutsplus start a tutorial on A Beginner’s Guide to Using #joomla . Check it out
                                    here http://t.co/i6S4zeW8Z0</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="section-heading-2">
                        <h3 class="section-title">
                            S.S.S
                        </h3>
                    </div>
                    <div class="contact-us">
                        <div class="media">
                          
                            <div class="media-body">
                                <p>Bize ulaşın</p>
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>
            <div class="col-md-3">
                <div class="section-heading-2">
                    <h3 class="section-title">
                    BİZİ SOSYAL MEDYADA TAKİP EDİN
                    </h3>
                </div>

                <div class="footer-address">
                    <ul>
                        <li class="footer-contact"><a href="https://www.instagram.com/hackathonturkiye" target="_blank"><i class="fa fa-instagram"></i></a></li>
                        <li class="footer-contact"><a href="https://www.facebook.com/hackathonturkiye" target="_blank"><i class="fa fa-facebook"></i></a></li>
                        <li class="footer-contact"><a href="https://twitter.com/turkeyhackathon" target="_blank"><i class="fa fa-twitter"></i></a></li>
                        <li class="footer-contact"><a href="https://www.linkedin.com/company/hackathonturkiye" target="_blank"><i class="fa fa-linkedin"></i></a></li>
                    </ul>
                </div>
            </div>
        
        </div>
    </div>
</section>
<!-- End Footer Section -->


<!-- Start CCopyright Section -->
<div id="copyright-section" class="copyright-section">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <div class="copyright">
                    Copyright © 2020. All Rights Reserved.
                </div>
            </div>
        </div>
        <!--/.row -->
    </div><!-- /.container -->
</div>
<!-- End CCopyright Section -->