.send-mail {
  height: 34px;
  border: 1px solid #0000007a;
}

.send-input {
  border-radius: 3px;
  border: 1px solid #0000007a;
}

.foot-title {
  font-weight: 600;
  font-size: 16px;
  line-height: 16px;
  letter-spacing: 0.04em;
  padding-bottom: 5px;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  margin-bottom: 15px;
}

.foot-title::after {
  content: "";
  display: block;
  border-bottom: 2px solid #4392F1;
  width: 96%;
  position: relative;
  bottom: -9px;
}

.copyright-section {
  background: linear-gradient(180deg, #3A6073 0%, #16222A 99.99%, rgba(209, 160, 160, 0) 100%);
  border-top: 1px solid #363636;
  font-size: 12px;
  padding: 20px 0;
  color: #7f7f7f;
}

.copyright {
  color: #C9F0FF;
  font-family: 'Lora', serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0.04em;
}

.footer-section {
  font-weight: 400;
  background: #E8E8E8;
  mix-blend-mode: normal;
  padding: 23px 0 12px;
}

.footer-address ul {
  display: flex;
}

.footer-address ul li {
  padding: 7px 17px
}

.footer-address ul li .fa {
  color: #6a6a6a;
  font-size: 22px;
  margin-left: 10px;
}

.subscription-body p,
.about-body p,
.sss-body p {
  font-weight: 500;
  font-size: 12px;
  font-family: 'Montserrat', sans-serif;
  color: #16222A;
}
