<!-- Start Footer Section -->
<section id="footer-section" class="footer-section">
    <div class="container">
        <div class="col-md-12 col-xs-12 col-sm-12">
        <div class="row">

            <div class="col-md-3 col-sm-3 col-xs-3">
                <div class="section-heading-2">
                    <h3 class="foot-title">
                        BÜLTEN İÇİN KAYDOL
                    </h3>
                </div>
                <div class="subscription-body">
                    <p>İçerikler ve güncel haftalık paylaşımlardan ilk önce siz haberdar olun.</p>
                    
                        <div class="row">
                            <div class="col-md-11 col-sm-11 col-xs-11">
                                <div class="input-group">
                                    <input type="email" class="form-control send-input" placeholder="Mail"
                                        id="sub_email" name="sub-email" [(ngModel)]="submail"/>
                                    <div class="input-group-btn">
                                        <button class="btn btn-primary send-mail" (click)="submit()">
                                            <span class="glyphicon glyphicon-envelope"></span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-3 col-xs-3">
                <div class="section-heading-2">
                    <h3 class="foot-title">
                        HAKKIMIZDA
                    </h3>
                </div>


                <div class="about-body">
                    <p>
                        Türkiye'deki tüm, dünyadaki online hackathon, makeathon, game jam,
                        ideathon, datathon, designathon vb. etkinlikleri düzenlemeyi ve
                        duyurmayı; hackathon kültürünü herkese öğretmeyi ve yaymayı amaçlayan
                        gönüllü bir ekibiz.
                    </p>
                </div>
            </div>

            <div class="col-md-3 col-sm-3 col-xs-3">
                <div class="section-heading-2">
                    <h3 class="foot-title">
                        S.S.S
                    </h3>
                </div>

                <div class="sss-body">
                    <p>Hackathon, makeathon, game jam, ideathon, datathon, designathon vb. ile 
                        ilgili en çok merak ettiklerinizi burada cevaplandırdık.</p>
                </div>

            </div>
            <div class="col-md-3 col-sm-3 col-xs-3">
                <div class="section-heading-2">
                    <h3 class="foot-title">
                        BİZİ TAKİP EDİN
                    </h3>
                </div>

                <div class="footer-address">
                    <ul>
                        <li class="footer-contact"><a href="https://www.linkedin.com/company/hackathonturkiye"
                            target="_blank"><i class="fa fa-linkedin"></i></a></li>
                        <li class="footer-contact"><a href="https://twitter.com/turkeyhackathon" target="_blank"><i
                            class="fa fa-twitter"></i></a></li>
                        <li class="footer-contact"><a href="https://www.instagram.com/hackathonturkiye"
                                target="_blank"><i class="fa fa-instagram"></i></a></li>
                        <li class="footer-contact"><a href="https://www.facebook.com/hackathonturkiye"
                                target="_blank"><i class="fa fa-facebook"></i></a></li>
                    
                    </ul>
                </div>
            </div>

        </div>
    </div>
    </div>
</section>
<!-- End Footer Section -->


<!-- Start CCopyright Section -->
<div id="copyright-section" class="copyright-section">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12 text-center">
                <div class="copyright">
                    Copyright © 2020. All Rights Reserved.
                </div>
            </div>
        </div>
        <!--/.row -->
    </div><!-- /.container -->
</div>
<!-- End CCopyright Section -->