<!-- Start Footer Section -->
<section id="footer-section" class="footer-section">
    <div class="container">
        <div class="row">

            <div class="col-md-3">
                <div class="section-heading-2">
                    <h3 class="section-title">
                        <span>BÜLTEN İÇİN KAYDOL</span>
                    </h3>
                </div>
                <div class="subscription">
                    <p>İçerikler ve güncel paylaşımlardan ilk önce siz haberdar olun. Haftalık bültenlerimiz ile gündemden uzak kalmayın</p>
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Your E-mail" id="name" required
                            data-validation-required-message="Please enter your name.">
                        <input type="submit" class="btn btn-primary" value="Subscribe">
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="col-md-6">
                    <div class="section-heading-2">
                        <h3 class="section-title">
                            <span>Hakkımzda</span>
                        </h3>
                    </div>
    
                    <div class="about-us">
                        <div class="media">
                          
                            <div class="media-body">
                                <h4 class="media-heading">HACKATHON TÜRKİYE</h4>
                                <p>Finally #tutsplus start a tutorial on A Beginner’s Guide to Using #joomla . Check it out
                                    here http://t.co/i6S4zeW8Z0</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="section-heading-2">
                        <h3 class="section-title">
                            <span>S.S.S</span>
                        </h3>
                    </div>
                    <div class="contact-us">
                        <div class="media">
                          
                            <div class="media-body">
                                <p>Bize ulaşın</p>
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>
           

            

            <div class="col-md-3">
                <div class="section-heading-2">
                    <h3 class="section-title">
                        <span>BİZİ SOSYAL MEDYADA TAKİP EDİN</span>
                    </h3>
                </div>

                <div class="footer-address">
                    <ul>
                        <li class="footer-contact"><i class="fa fa-instagram"></i></li>
                        <li class="footer-contact"><i class="fa fa-facebook"></i></li>
                        <li class="footer-contact"><i class="fa fa-twitter"></i></li>
                        <li class="footer-contact"><i class="fa fa-linkedin"></i></li>
                    </ul>
                </div>
            </div>
            <!--/.col-md-3 -->




            
            <!--/.col-md-3 -->



            <div class="col-md-2">
                <div class="section-heading-2">
                    <h3 class="section-title">
                        <span>İLETİŞİM</span>
                    </h3>
                </div>
                <div class="contact-us">
                    <div class="media">
                      
                        <div class="media-body">
                            <p>Bize ulaşın</p>
                        </div>
                    </div>
                </div>
                
            </div>
            <!--/.col-md-3 -->
        </div>
        <!--/.row -->
    </div><!-- /.container -->
</section>
<!-- End Footer Section -->


<!-- Start CCopyright Section -->
<div id="copyright-section" class="copyright-section">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <div class="copyright">
                    Copyright © 2020. All Rights Reserved.
                </div>
            </div>
        </div>
        <!--/.row -->
    </div><!-- /.container -->
</div>
<!-- End CCopyright Section -->