<div class="page-header">
  <div class="overlay">
    <div class="container">
      <div class="row">
        <a routerLink="/ana-sayfa" class="about-button text-center hidden-md hidden-lg mobile-back">Ana Sayfa</a>
        <div class="col-md-12">
          <a routerLink="/ana-sayfa" class="about-button text-left hidden-xs hidden-sm desktop-back">Ana Sayfa</a>
          <h1>{{ slug }} için bulunan</h1>
        </div>
      </div>
    </div>
  </div>
</div>

<section id="find-section" class="find-section">
  <div class="container">
    <div class="post" *ngFor="let xathon of events;">

      <div class="row">
        <div class="col-md-4 p0">
          <div class="find-img">
            <img src="{{xathon.thumbnail}}" class="img-responsive" alt={{xathon.name}}>
          </div>
        </div>
        <div class="col-md-8">
          <div class="find-header">
            <h2>{{getBlogDef(xathon)}} {{ xathon.title}}</h2>
          </div>

          <div class="find-tag">
            <div class="tagcloud" *ngIf="xathon.tags">
              <div *ngFor="let eventTag of xathon.tags;">
                <a routerLink="/etiket/{{eventTag.slug}}/tag">{{eventTag.name}}</a>
              </div>
            </div>
          </div>
          <div class="find-text">
            <p>{{getDescription(xathon.description)}}
            </p>
          </div>

          <div class="detail">
            <a class="btn btn-primary readmore btn-lg" routerLink="{{getUrl(xathon)}}">İncele</a>
          </div>
        </div>
      </div>
    </div>

    <h3 class="text-danger text-center" *ngIf="!events || events.length === 0"> Kayıt Bulunamadı</h3>
  </div>
</section>
<footer class="mb-1">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 text-center"><a target="_blank" class="gtag" style="color: white;"
          href="https://bit.ly/htpoweredby">Hackathon Türkiye Appcent tarafından
          desteklenmektedir.</a>
      </div>
    </div>
  </div>
</footer>