<div class="page-header">
  <div class="overlay">
    <div class="container">
      <div class="row">
        <a
          routerLink="/ana-sayfa"
          class="about-button text-center hidden-md hidden-lg mobile-back"
          >Ana Sayfa</a
        >
        <div class="col-md-12">
          <a
            routerLink="/ana-sayfa"
            class="about-button text-left hidden-xs hidden-sm desktop-back"
            >Ana Sayfa</a
          >
          <h1>{{ slug }} için bulunan</h1>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="col-md-12 col-sm-12 col-xs-12">
  <div class="row">
    <ul class="nav nav-pills nav-justified">
      <li #blog_selector class="active"><a (click)="openBlog()">Blog</a></li>
      <li #find_selector><a (click)="openFind()">Yarışma</a></li>
    </ul>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="tab-content">
      <div #blog class="tab-pane fade in active">
        <div *ngIf="srctype !== 'search' && crossesPost">
          <div class="p-10">
            <div class="col-lg-6 col-md-6" *ngFor="let item of crossesPost">
              <aside>
                <div class="content-header">
                  <div class="text-center">
                    <h2>
                      <a href="/blog/{{ item.slug }}">{{ item.title }}</a>
                    </h2>
                  </div>
                </div>
                <img
                  src="{{ item.thumbnail }}"
                  class="img-responsive"
                  alt="{{ item.title }}"
                />
                <div class="content-title">
                  <div class="text-center">
                    <p>{{ item.summary }}</p>
                  </div>
                </div>
                <div class="content-footer">
                  <div class="author-content">
                    <img
                      class="user-small-img"
                      src="{{ item.author.profile.pic }}"
                    />
                    <span
                      ><a
                        class="author"
                        href="/blog/?author__username={{
                          item.author.username
                        }}"
                        >{{ item.author.first_name }}</a
                      ></span
                    >
                  </div>
                  <span class="time"
                    ><i class="fa fa-clock-o"></i>{{ item.time }} Dk</span
                  >
                  <span class="pull-right date"
                    ><i class="fa fa-calendar"></i
                    >{{ item.published_at | date: "dd/MM/yyyy" }}</span
                  >
                </div>
              </aside>
            </div>
          </div>
        </div>
        <div *ngIf="srctype === 'search'">
          <div *ngFor="let search of searchresults" class="p-10">
            <div class="col-lg-6 col-md-6" *ngFor="let item of search.in_posts">
              <aside>
                <div class="content-header">
                  <div class="text-center">
                    <h2>
                      <a href="/blog/{{ item.slug }}">{{ item.title }}</a>
                    </h2>
                  </div>
                </div>
                <img
                  src="{{ item.thumbnail }}"
                  class="img-responsive"
                  alt="{{ item.title }}"
                />
                <div class="content-title">
                  <div class="text-center">
                    <p>{{ item.summary }}</p>
                  </div>
                </div>
                <div class="content-footer">
                  <div class="author-content">
                    <img
                      class="user-small-img"
                      src="{{ item.author.profile.pic }}"
                    />
                    <span
                      ><a
                        class="author"
                        href="/blog/?author__username={{
                          item.author.username
                        }}"
                        >{{ item.author.first_name }}</a
                      ></span
                    >
                  </div>
                  <span class="time"
                    ><i class="fa fa-clock-o"></i>{{ item.time }} Dk</span
                  >
                  <span class="pull-right date"
                    ><i class="fa fa-calendar"></i
                    >{{ item.published_at | date: "dd/MM/yyyy" }}</span
                  >
                </div>
              </aside>
            </div>
            <h2
              class="text-danger text-center nf"
              *ngIf="search.in_posts.length === 0"
            >
              Kayıt Bulunamadı
            </h2>
          </div>
        </div>
        <h2
          class="text-danger text-center nf"
          *ngIf="srctype !== 'search' && crossesPost.length === 0"
        >
          Kayıt Bulunamadı
        </h2>
        <h2
          class="text-danger text-center nf"
          *ngIf="srctype === 'search' && searchresults.length === 0"
        >
          Kayıt Bulunamadı
        </h2>
      </div>
      <div #find class="tab-pane fade">
        <div *ngIf="srctype !== 'search' && crossesEvents">
          <div class="p-10">
            <div class="col-lg-6 col-md-6" *ngFor="let item of crossesEvents">
              <aside>
                <div class="content-header">
                  <div class="text-center">
                    <h2>
                      <a
                        *ngIf="!item.has_details"
                        target="_blank"
                        class="btn btn-primary readmore btn-lg"
                        href="{{ item.origin_url }}"
                        >{{ item.name }}</a
                      >
                      <a
                        *ngIf="item.has_details"
                        class="btn btn-primary readmore btn-lg"
                        routerLink="/etkinlik/{{ item.slug }}"
                        >{{ item.name }}</a
                      >
                    </h2>
                  </div>
                </div>
                <img
                  src="{{ item.thumbnail }}"
                  class="img-responsive"
                  alt="{{ item.name }}"
                />
                <div class="content-title">
                  <div class="text-center">
                    <p>{{ item.description }}</p>
                  </div>
                </div>
                <div class="content-footer event-footer-content">
                  <div class="author-content">
                    <span>{{ item.location }}</span>
                  </div>
                  <span class="pull-right date"
                    >{{ getDateTurkish(item.starts_at) }} -
                    {{ getDateTurkish(item.ends_at) }}</span
                  >
                </div>
              </aside>
            </div>
          </div>
        </div>
        <div *ngIf="srctype === 'search'">
          <div *ngFor="let search of searchresults" class="p-10">
            <div
              class="col-lg-6 col-md-6"
              *ngFor="let item of search.in_events"
            >
              <aside>
                <div class="content-header">
                  <div class="text-center">
                    <h2>
                      <a
                        *ngIf="!item.has_details"
                        target="_blank"
                        class="btn btn-primary readmore btn-lg"
                        href="{{ item.origin_url }}"
                        >{{ item.name }}</a
                      >
                      <a
                        *ngIf="item.has_details"
                        class="btn btn-primary readmore btn-lg"
                        routerLink="/etkinlik/{{ item.slug }}"
                        >{{ item.name }}</a
                      >
                    </h2>
                  </div>
                </div>
                <img
                  src="{{ item.thumbnail }}"
                  class="img-responsive"
                  alt="{{ item.name }}"
                />
                <div class="content-title">
                  <div class="text-center">
                    <p>{{ item.description }}</p>
                  </div>
                </div>
                <div class="content-footer event-footer-content">
                  <div class="author-content">
                    <span>{{ item.location }}</span>
                  </div>
                  <span class="pull-right date"
                    >{{ getDateTurkish(item.starts_at) }} -
                    {{ getDateTurkish(item.ends_at) }}</span
                  >
                </div>
              </aside>
            </div>
            <h2
              class="text-danger text-center nf"
              *ngIf="search.in_events.length === 0"
            >
              Kayıt Bulunamadı
            </h2>
          </div>
        </div>
        <h2
          class="text-danger text-center nf"
          *ngIf="srctype !== 'search' && crossesEvents.length === 0"
        >
          Kayıt Bulunamadı
        </h2>
        <h2
          class="text-danger text-center nf"
          *ngIf="srctype === 'search' && searchresults.length === 0"
        >
          Kayıt Bulunamadı
        </h2>
      </div>
    </div>
  </div>
</div>
