
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}

/* Add some top padding to the page content to prevent sudden quick movement (as the header gets a new position at the top of the page (position:fixed and top:0) */
.sticky + .content {
  padding-top: 102px;
}