
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}

/* Add some top padding to the page content to prevent sudden quick movement (as the header gets a new position at the top of the page (position:fixed and top:0) */
.sticky + .content {
  padding-top: 102px;
}

.search-bar {
  padding-top: 2px;
}

.search-button {
  height: 34px;
  border: 1px solid #0000007a;
  border-radius: 15px;
}

.search-input {
  border-radius: 30px;
  border: 1px solid #0000007a;
}

.navbar-collapse {
  border-top: 0;
}