<header class="clearfix">

    <!-- Start  Logo & Naviagtion  -->
    <nav class="navbar navbar-default" role="navigation">

        <div class="container">
            <div class="navbar-header">
                <!-- Stat Toggle Nav Link For Mobiles -->
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <i class="fa fa-bars"></i>
                </button>
                <!-- End Toggle Nav Link For Mobiles -->
            </div>
            <div class="navbar-collapse collapse">

                <!-- Start Navigation List -->
                <ul class="nav navbar-nav">
                    <li>
                        <a routerLink="/home" routerLinkActive="active">ANA SAYFA</a>
                    </li>
                    <li>
                        <a routerLink="/blog" routerLinkActive="active">BLOG</a>
                    </li>
                    <li>
                        <a>YARIŞMA ARA</a>
                    </li>
                    <li>
                        <a routerLink="/brands" routerLinkActive="active">BAŞARI HİKAYELERİ</a>
                    </li>
                    <li>
                        <a>HACKATHON KAYDET</a>
                    </li>
                    <li>
                        <a routerLink="/ourcrew" routerLinkActive="active">EKİBİMİZ</a>
                    </li>
                </ul>
                <!-- End Navigation List -->
            </div>
        </div>
    </nav>
    <!-- End Header Logo & Naviagtion -->

</header>