<header class="clearfix">

    <!-- Start  Logo & Naviagtion  -->
    <nav class="navbar navbar-default" role="navigation" id="myHeader">

        <div class="container">
            <div class="navbar-header">
                <!-- Stat Toggle Nav Link For Mobiles -->
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <i class="fa fa-bars"></i>
                </button>
                <!-- End Toggle Nav Link For Mobiles -->


            </div>
            <div>
                <div class="pull-right search-bar">
                    <form class="navbar-form pull-right" role="search">
                        <div class="input-group">
                            <input type="text" class="form-control search-input" id="search" name="search"
                                placeholder="Ara..." required>
                            <div class="input-group-btn">
                                <button type="submit" class="btn btn-default search-button">
                                    <span class="glyphicon glyphicon-search"></span>
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="navbar-collapse collapse">

                <!-- Start Navigation List -->
                <ul class="nav navbar-nav">
                    <li>
                        <a routerLink="/ana-sayfa" routerLinkActive="active">ANA SAYFA</a>
                    </li>
                    <li>
                        <a routerLink="/blog" routerLinkActive="active">BLOG</a>
                    </li>
                    <li>
                        <a routerLink="/etkinlikler" routerLinkActive="active">YARIŞMA ARA</a>
                    </li>
                    <!-- <li>
                        <a routerLink="/basari-hikayeleri" routerLinkActive="active">BAŞARI HİKAYELERİ</a>
                    </li>  -->
                    <li>
                        <a routerLink="/ekibimiz" routerLinkActive="active">EKİBİMİZ</a>
                    </li>
                    <li>
                        <a routerLink="/iletisim" routerLinkActive="active">İLETİŞİM / İŞ BİRLİĞİ</a>
                    </li>


                </ul>
                <!-- End Navigation List -->

            </div>

        </div>
    </nav>
    <!-- End Header Logo & Naviagtion -->

</header>