.p0 {
    padding: 0px;
}

.p1 {
    padding-right: 0px;
}

.contact-sub {
    color: #C9F0FF;
    opacity: 0.8;
}

.contact .form-group {
    margin-bottom: 25px;
}

.contact {
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    padding-top: 80px;
    min-height: 75vh;
    padding-bottom: 100px;
}

.contact .form-group input,
.contact .form-group textarea,
.contact .form-group select {
    padding: 20px;
}

.contact .form-group input.form-control {
    height: auto;
}

.contact .form-group select.form-control {
    height: 65px;
}

.contact .form-group textarea.form-control {
    height: 236px;
}

.contact::-webkit-input-placeholder {
    text-transform: uppercase;
    font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 700;
    color: #bbb;
}

.contact:-moz-placeholder {
    text-transform: uppercase;
    font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 700;
    color: #bbb;
}

.contact:-ms-input-placeholder {
    text-transform: uppercase;
    font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 700;
    color: #bbb;
}
.contact button {
    font-weight: 400;
    margin-top: 30px;
}




@media (min-width: 320px) and (max-width: 480px) {
    .p1 {
        padding-left: 0px;
    }
  }
  
  
  @media (min-width: 768px) and (max-width: 1024px) {
    .p1 {
        padding-left: 0px;
    } 
  }