<!-- Start Header Section -->
<div class="page-header">
    <div class="overlay">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1>Hackathon Türkiye Ekibi</h1>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Header Section -->

<!-- Start Crew-section -->
<section id="team-section">
    <div class="container">
        <div class="row">
            <div class="col-md-3 wow fadeInLeft" data-wow-duration="2s" data-wow-delay="300ms">
                <div class="team-member">
                    <img src="../../../assets/images/team/ugur-atmaca.jpg" class="img-responsive img-circle"
                        alt="Uğur Atmaca">
                    <div class="team-details">
                        <h4>Uğur Atmaca <a href="https://www.linkedin.com/in/atmacaugur/" target="_blank"><i
                                    class="fa fa-linkedin" rel="nofollow"></i></a></h4>
                        <p>Founder</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3 wow fadeInLeft" data-wow-duration="2s" data-wow-delay="900ms">
                <div class="team-member">
                    <img src="../../../assets/images/team/arda-ozturk.jpg" class="img-responsive img-circle"
                        alt="Arda Öztürk">
                    <div class="team-details">
                        <h4>Arda Öztürk <a href="https://www.linkedin.com/in/arda-ozturk/" target="_blank"><i
                                    class="fa fa-linkedin" rel="nofollow"></i></a></h4>
                        <p>Chief Executive Officer</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3 wow fadeInLeft" data-wow-duration="2s" data-wow-delay="600ms">
                <div class="team-member">
                    <img src="../../../assets/images/team/irem-cetin.jpg" class="img-responsive img-circle"
                        alt="İrem Çetin">
                    <div class="team-details">
                        <h4>İrem Çetin <a href="https://www.linkedin.com/in/irem%C3%A7etin/" target="_blank"><i
                                    class="fa fa-linkedin" rel="nofollow"></i></a></h4>
                        <p>Head Of Design</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3 wow fadeInLeft" data-wow-duration="2s" data-wow-delay="600ms">
                <div class="team-member">
                    <img src="../../../assets/images/team/emre-akbaki.jpg" class="img-responsive img-circle"
                        alt="Emre Akbaki">
                    <div class="team-details">
                        <h4>Emre Akbaki <a href="https://www.linkedin.com/in/emre-akbaki-a68358b4/" target="_blank"><i
                                    class="fa fa-linkedin" rel="nofollow"></i></a></h4>
                        <p>Frontend Developer</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 wow fadeInLeft" data-wow-duration="2s" data-wow-delay="1200ms">
                <div class="team-member">
                    <img src="../../../assets/images/team/omer-selcuk.jpg" class="img-responsive img-circle"
                        alt="Ömer Selçuk">
                    <div class="team-details">
                        <h4>Ömer Selçuk <a href="https://www.linkedin.com/in/omerselcuk/" target="_blank"><i
                                    class="fa fa-linkedin" rel="nofollow"></i></a></h4>
                        <p>Backend & Devops</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3 wow fadeInLeft" data-wow-duration="2s" data-wow-delay="900ms">
                <div class="team-member">
                    <img src="../../../assets/images/team/ege-dinnen.jpg" class="img-responsive img-circle"
                        alt="Ege Dinnen">
                    <div class="team-details">
                        <h4>Ege Dinnen <a href="https://www.linkedin.com/in/ege-dinnen-1a35091ab/" target="_blank"><i
                                    class="fa fa-linkedin" rel="nofollow"></i></a></h4>
                        <p>Graphic Designer</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3 wow fadeInLeft" data-wow-duration="2s" data-wow-delay="300ms">
                <div class="team-member">
                    <img src="../../../assets/images/team/senem-aksakal.jpg" class="img-responsive img-circle"
                        alt="Senem Aksakal ">
                    <div class="team-details">
                        <h4>Senem Aksakal <a href="https://www.linkedin.com/in/aksakalsenem/" target="_blank"><i
                                    class="fa fa-linkedin" rel="nofollow"></i></a></h4>
                        <p>Content Editor</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3 wow fadeInLeft" data-wow-duration="2s" data-wow-delay="300ms">
                <div class="team-member">
                    <img src="../../../assets/images/team/ecem-safak.jpeg" class="img-responsive img-circle"
                        alt="Ecem Şafak">
                    <div class="team-details">
                        <h4>Ecem Şafak <a href="https://www.linkedin.com/in/ecem-%C5%9Fafak-789612173/" target="_blank"><i
                                    class="fa fa-linkedin" rel="nofollow"></i></a></h4>
                        <p>Content Writer</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 wow fadeInLeft" data-wow-duration="2s" data-wow-delay="300ms">
                <div class="team-member">
                    <img src="../../../assets/images/team/hanifi-cetinkaya.jpg" class="img-responsive img-circle"
                        alt="Hanifi Çetinkaya">
                    <div class="team-details">
                        <h4>Hanifi Çetinkaya <a href="https://www.linkedin.com/in/hanifi-cetinkaya/" target="_blank"><i
                                    class="fa fa-linkedin" rel="nofollow"></i></a></h4>
                        <p>Content Writer</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3 wow fadeInLeft" data-wow-duration="2s" data-wow-delay="600ms">
                <div class="team-member">
                    <img src="../../../assets/images/team/melek-kaya.jpeg" class="img-responsive img-circle"
                        alt="Melek Kaya">
                    <div class="team-details">
                        <h4>Melek Kaya <a href="https://www.linkedin.com/in/astronautmelekkaya/" target="_blank"
                                rel="nofollow"><i class="fa fa-linkedin"></i></a></h4>
                        <p>Content Writer</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3 wow fadeInLeft" data-wow-duration="2s" data-wow-delay="600ms">
                <div class="team-member">
                    <img src="../../../assets/images/team/sezin-atavci.jpg" class="img-responsive img-circle"
                        alt="Sezin Atavcı">
                    <div class="team-details">
                        <h4>Sezin Atavcı <a href="https://www.linkedin.com/in/sezin-atavc%C4%B1-9280701b3/" target="_blank"
                                rel="nofollow"><i class="fa fa-linkedin"></i></a></h4>
                        <p>Content Writer</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Crew Section -->