<!-- Start Header Section -->
<div class="page-header">
    <div class="overlay">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1>HACKATHON TÜRKİYE</h1>
                    <p>HACKATHON'A DAİR HER ŞEY</p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Header Section -->

<!-- Start Crew-section -->

<section id="team-section">
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="section-title text-center wow fadeInDown" data-wow-duration="2s" data-wow-delay="50ms">
                <h2>EKİBİMİZ</h2>
            </div>                        
        </div>
    </div>
    <div class="row">
        <div class="col-md-3 wow fadeInLeft" data-wow-duration="2s" data-wow-delay="300ms">
            <div class="team-member">
                <img src="../../../assets/images/team/ugur-atmaca.jpg" class="img-responsive img-circle" alt="Uğur Atmaca">
                <div class="team-details">
                    <h4>Uğur Atmaca <a href="https://www.linkedin.com/in/atmacaugur/" target="_blank"><i class="fa fa-linkedin"></i></a></h4>
                    <p>Founder</p>
                </div>
            </div>
        </div>
        <div class="col-md-3 wow fadeInLeft" data-wow-duration="2s" data-wow-delay="600ms">
            <div class="team-member">
                <img src="../../../assets/images/team/irem-cetin.jpg" class="img-responsive img-circle" alt="İrem Çetin">
                <div class="team-details">
                    <h4>İrem Çetin <a href="https://www.linkedin.com/in/irem%C3%A7etin/" target="_blank"><i class="fa fa-linkedin"></i></a></h4>
                    <p>Product Manager</p>
                    
                </div>
            </div>
        </div>
        <div class="col-md-3 wow fadeInLeft" data-wow-duration="2s" data-wow-delay="900ms">
            <div class="team-member">
                <img src="../../../assets/images/team/arda-ozturk.jpg" class="img-responsive img-circle" alt="Arda Öztürk">
                <div class="team-details">
                    <h4>Arda Öztürk <a href="https://www.linkedin.com/in/arda-ozturk/" target="_blank"><i class="fa fa-linkedin"></i></a></h4>
                    <p>Product Manager</p>
                    
                </div>
            </div>
        </div>
        <div class="col-md-3 wow fadeInLeft" data-wow-duration="2s" data-wow-delay="1200ms">
            <div class="team-member">
                <img src="../../../assets/images/team/omer-selcuk.jpg" class="img-responsive img-circle" alt="Ömer Selçuk">
                <div class="team-details">
                    <h4>Ömer Selçuk <a href="https://www.linkedin.com/in/omerselcuk/" target="_blank"><i class="fa fa-linkedin"></i></a></h4>
                    <p>Backend & Devops</p>
                    
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-3 wow fadeInLeft" data-wow-duration="2s" data-wow-delay="300ms">
            <div class="team-member">
                <img src="../../../assets/images/team/hanifi-cetinkaya.jpg" class="img-responsive img-circle" alt="Hanifi Çetinkaya">
                <div class="team-details">
                    <h4>Hanifi Çetinkaya <a href="https://www.linkedin.com/in/hanifi-cetinkaya/" target="_blank"><i class="fa fa-linkedin"></i></a></h4>
                    <p>Backend Developer</p>
                    
                </div>
            </div>
        </div>
        <div class="col-md-3 wow fadeInLeft" data-wow-duration="2s" data-wow-delay="600ms">
            <div class="team-member">
                <img src="../../../assets/images/team/emre-akbaki.jpg" class="img-responsive img-circle" alt="Emre Akbaki">
                <div class="team-details">
                    <h4>Emre Akbaki <a href="https://www.linkedin.com/in/emre-akbaki-a68358b4/" target="_blank"><i class="fa fa-linkedin"></i></a></h4>
                    <p>Frontend Developer</p>
                    
                </div>
               
            </div>
        </div>
        <div class="col-md-3 wow fadeInLeft" data-wow-duration="2s" data-wow-delay="900ms">
            <div class="team-member">
                <img src="../../../assets/images/team/elif-cetinkaya.jpg" class="img-responsive img-circle" alt="Elif Çetinkaya">
                <div class="team-details">
                    <h4>Elif Çetinkaya <a href="https://www.linkedin.com/in/elif-%C3%A7etinkaya-95b2201b0" target="_blank"><i class="fa fa-linkedin"></i></a></h4>
                    <p>Content Writer</p>
                    
                </div>
            </div>
        </div>
        <div class="col-md-3 wow fadeInLeft" data-wow-duration="2s" data-wow-delay="1200ms">
            <div class="team-member">
                <img src="../../../assets/images/team/duygu-irem-ozger.jpg" class="img-responsive img-circle" alt="Duygu İrem Özger">
                <div class="team-details">
                    <h4>Duygu İrem Özger <a href="https://www.linkedin.com/in/duygu-irem-özger-60220b1aa" target="_blank"><i class="fa fa-linkedin"></i></a></h4>
                    <p>Communications Representative</p>
                    
                </div>
            </div>
        </div>
    </div>

    <div class="row">

        <div class="col-md-3 wow fadeInLeft" data-wow-duration="2s" data-wow-delay="900ms">
            <div class="team-member">
                <img src="../../../assets/images/team/ege dinen.jpg" class="img-responsive img-circle" alt="Ege Dinen">
                <div class="team-details">
                    <h4>Ege Dinen <a href="https://www.linkedin.com/in/ege-dinnen-1a35091ab/" target="_blank"><i class="fa fa-linkedin"></i></a></h4>
                    <p>Content Writer</p>
                    
                </div>
            </div>
        </div>

        <div class="col-md-3 wow fadeInLeft" data-wow-duration="2s" data-wow-delay="300ms">
            <div class="team-member">
                <img src="../../../assets/images/team/senem-aksakal.jpg" class="img-responsive img-circle" alt="Senem Aksakal ">
                <div class="team-details">
                    <h4>Senem Aksakal <a href="https://www.linkedin.com/in/aksakalsenem/" target="_blank"><i class="fa fa-linkedin"></i></a></h4>
                    <p>Content Writer</p>
                    
                </div>
                
            </div>
        </div>
        <div class="col-md-3 wow fadeInLeft" data-wow-duration="2s" data-wow-delay="300ms">
            <div class="team-member">
                <img src="../../../assets/images/team/yalcın-tur.jpeg" class="img-responsive img-circle" alt="Yalçın Tür">
                <div class="team-details">
                    <h4>Yalçın Tür<a href="https://www.linkedin.com/in/yal%C3%A7%C4%B1n-t%C3%BCr-79a77a160/" target="_blank"><i class="fa fa-linkedin"></i></a></h4>
                    <p>Content Writer</p>
                    
                </div>
            </div>
        </div>
        <div class="col-md-3 wow fadeInLeft" data-wow-duration="2s" data-wow-delay="600ms">
            <div class="team-member">
                <img src="../../../assets/images/team/furkan-kulaksiz.jpg" class="img-responsive img-circle" alt="Furkan Kulaksız">
                <div class="team-details">
                    <h4>Furkan Kulaksız <a href="https://www.linkedin.com/in/frknshnklksz/" target="_blank"><i class="fa fa-linkedin"></i></a></h4>
                    <p>Content Writer</p>
                    
                </div>
            </div>
        </div>
        
       
    </div>
</div>
</section>
<!-- End Crew Section -->
