<!-- Start Header Section -->
<div class="page-header">
    <div class="overlay">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1>HACKATHON TÜRKİYE</h1>
                    <p>HACKATHON'A DAİR HER ŞEY</p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Header Section -->

<!-- Start Crew-section -->

<section id="team-section">
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="section-title text-center wow fadeInDown" data-wow-duration="2s" data-wow-delay="50ms">
                <h2>EKİBİMİZ</h2>
            </div>                        
        </div>
    </div>
    <div class="row">
        <div class="col-md-3 wow fadeInLeft" data-wow-duration="2s" data-wow-delay="300ms">
            <div class="team-member">
                <img src="../../../assets/images/team/team-1.jpg" class="img-responsive img-circle" alt="">
                <div class="team-details">
                    <h4>John Doe <i class="fa fa-linkedin"></i> <i class="fa fa-globe"></i></h4>
                    <p>Founder & Director</p>
                </div>
            </div>
        </div>
        <div class="col-md-3 wow fadeInLeft" data-wow-duration="2s" data-wow-delay="600ms">
            <div class="team-member">
                <img src="../../../assets/images/team/team-2.jpg" class="img-responsive img-circle" alt="">
                <div class="team-details">
                    <h4>John Doe <i class="fa fa-linkedin"></i></h4>
                    <p>Founder & Director</p>
                    
                </div>
            </div>
        </div>
        <div class="col-md-3 wow fadeInLeft" data-wow-duration="2s" data-wow-delay="900ms">
            <div class="team-member">
                <img src="../../../assets/images/team/team-3.jpg" class="img-responsive img-circle" alt="">
                <div class="team-details">
                    <h4>John Doe <i class="fa fa-linkedin"></i></h4>
                    <p>Founder & Director</p>
                    
                </div>
            </div>
        </div>
        <div class="col-md-3 wow fadeInLeft" data-wow-duration="2s" data-wow-delay="1200ms">
            <div class="team-member">
                <img src="../../../assets/images/team/team-4.jpg" class="img-responsive img-circle" alt="">
                <div class="team-details">
                    <h4>John Doe <i class="fa fa-linkedin"></i></h4>
                    <p>Founder & Director</p>
                    
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-3 wow fadeInLeft" data-wow-duration="2s" data-wow-delay="300ms">
            <div class="team-member">
                <img src="../../../assets/images/team/team-1.jpg" class="img-responsive img-circle" alt="">
                <div class="team-details">
                    <h4>John Doe <i class="fa fa-linkedin"></i></h4>
                    <p>Founder & Director</p>
                    
                </div>
            </div>
        </div>
        <div class="col-md-3 wow fadeInLeft" data-wow-duration="2s" data-wow-delay="600ms">
            <div class="team-member">
                <img src="../../../assets/images/team/team-2.jpg" class="img-responsive img-circle" alt="">
                <div class="team-details">
                    <h4>John Doe <i class="fa fa-linkedin"></i></h4>
                    <p>Founder & Director</p>
                    
                </div>
            </div>
        </div>
        <div class="col-md-3 wow fadeInLeft" data-wow-duration="2s" data-wow-delay="900ms">
            <div class="team-member">
                <img src="../../../assets/images/team/team-3.jpg" class="img-responsive img-circle" alt="">
                <div class="team-details">
                    <h4>John Doe <i class="fa fa-linkedin"></i></h4>
                    <p>Founder & Director</p>
                    
                </div>
            </div>
        </div>
        <div class="col-md-3 wow fadeInLeft" data-wow-duration="2s" data-wow-delay="1200ms">
            <div class="team-member">
                <img src="../../../assets/images/team/team-4.jpg" class="img-responsive img-circle" alt="">
                <div class="team-details">
                    <h4>John Doe <i class="fa fa-linkedin"></i></h4>
                    <p>Founder & Director</p>
                    
                </div>
            </div>
        </div>
    </div>
</div>
</section>
<!-- End Crew Section -->
