<!-- Start Blog Page Section -->
<section class="blog">
<div class="container">
    <div class="row">
        <!-- Start Blog Body Section -->
        <div class="col-md-12 col-sm-12 col-xs-12 blog-body">
                <div *ngIf="list && !loading">
                    <div class="blog-post" *ngFor="let item of list">
                        <div class="post-img">
                            <img src="{{item.thumbnail}}" class="img-responsive" alt="Blog image">
                        </div>
                        <h1 class="post-title"><a href="/blog/{{item.slug}}">{{item.title}}</a> <span class="time"> {{item.time}}
                                Dk</span> </h1>

                        <ul class="post-meta">
                            <li><i class="fa fa-clock-o"></i>October 25 2014</li>
                            <li><i class="fa fa-user">     
                            </i><a href="/blog/?author__username={{item.author.username}}">{{item.author.username}}</a></li>
                            <div class="tag-area" *ngFor="let tag of item.tags">
                                <li><i class="fa fa-tags"></i><a href="#">{{tag.name}}</a></li>
                            </div>
                            <div class="pull-right social">                                
                                  <li>
                                    <a target="_blank"
                                      href="http://www.linkedin.com/shareArticle?mini=true&amp;url=https://hackathonturkiye.com/blog/{{item.slug}}/">
                                      <i class="fa fa-linkedin"></i>
                                    </a>
                                  </li>
                                  <li>
                                    <a target="_blank"
                                      href="https://twitter.com/intent/tweet?text={{item.title}}+https://hackathonturkiye.com/blog/{{item.slug}}/">
                                      <i class="fa fa-twitter"> </i>
                                    </a>
                                  </li>

                                  <li>
                                    <a target="_blank"
                                      href="https://www.facebook.com/sharer.php?u=https://hackathonturkiye.com/blog/{{item.slug}}/&amp;p[title]={{item.title}}&amp;p[images][0]={{item.thumbnail}}&amp;v=1">
                                      <i class="fa fa-facebook"></i>
                                    </a>
                                  </li>
                            </div>
                        </ul>

                        <p class="post-content">{{item.summary}}</p>
                        <a href="/blog/{{item.slug}}" class="btn btn-primary readmore pull-right">Daha Fazla</a>
                    </div>
                </div>


                <h3 class="text-danger text-center" *ngIf="!list && !loading "> Kayıt Bulunamadı</h3>


         
        </div>

    </div>
</div>
</section>
<!-- End Blog Page Section -->