<!-- Start Blog Page Section -->
<section class="blog">
<div class="container">
    <div class="row">
        <!-- Start Blog Body Section -->
        <div class="col-md-12 blog-body">
            <div class="col-md-9 blog-border">
                <div *ngIf="list && list.length > 0">
                    <div class="blog-post" *ngFor="let item of list">
                        <div class="post-img">
                            <img src="{{item.thumbnail}}" class="img-responsive" alt="Blog image">
                        </div>
                        <h1 class="post-title"><a href="/blog-detay/{{item.slug}}">{{item.title}}</a> <span class="time"> {{item.time}}
                                Dk</span> </h1>

                        <ul class="post-meta">
                            <li><i class="fa fa-clock-o"></i>October 25 2014</li>
                            <li><i class="fa fa-user">     
                            </i><a href="/blog/?author__username={{item.author.username}}">{{item.author.username}}</a></li>
                            <div class="tag-area" *ngFor="let tag of item.tags">
                                <li><i class="fa fa-tags"></i><a href="#">{{tag.name}}</a></li>
                            </div>
                            <div class="pull-right social">
                                <li><i class="fa fa-instagram"></i></li>
                                <li><i class="fa fa-facebook"></i></li>
                                <li><i class="fa fa-linkedin"></i></li>
                                <li><i class="fa fa-twitter"></i></li>
                            </div>
                        </ul>

                        <p class="post-content">{{item.summary}}</p>
                        <a href="/blog-detay/{{item.slug}}" class="btn btn-primary readmore pull-right">Daha Fazla</a>
                    </div>
                </div>


                <h3 class="text-danger text-center" *ngIf="!list || list.length === 0"> Kayıt Bulunamadı</h3>


            </div>
            <!-- End Blog Body Section -->

            <div class="col-md-3 sidebar right-sidebar">
                <!-- Start Recent Post Widget -->
                <div class="widget widget-recent-post">

                    <div class="section-heading-2">
                        <h3 class="title-left-side">
                            <span>En Çok</span>
                            <br>
                            <span>Okunanlar</span>
                        </h3>
                    </div>

                    <div class="media">
                        <div class="media-left">
                            <a href="#">
                                <img class="img-responsive" src="../../../assets/images/recent-post/post-02.jpg"
                                    alt="...">
                            </a>
                        </div>
                        <div class="media-body">
                            <h4 class="img-responsive"><a href="#">Nulla facilisi integer lacinia sollicitudin massa</a>
                            </h4>
                            <ul>
                                <li><a href="#">Super User</a></li>
                                <li>15 October 2014</li>
                            </ul>
                        </div>
                    </div>

                    <div class="media">
                        <div class="media-left">
                            <a href="#">
                                <img class="img-responsive" src="../../../assets/images/recent-post/post-03.jpg"
                                    alt="...">
                            </a>
                        </div>
                        <div class="media-body">
                            <h4 class="media-heading"><a href="#">Quisque cursus metus vitae pharetra auctor sem
                                    massa</a></h4>
                            <ul>
                                <li><a href="#">Super User</a></li>
                                <li>15 October 2014</li>
                            </ul>
                        </div>
                    </div>

                    <div class="media">
                        <div class="media-left">
                            <a href="#">
                                <img class="img-responsive" src="../../../assets/images/recent-post/post-04.jpg"
                                    alt="...">
                            </a>
                        </div>
                        <div class="media-body">
                            <h4 class="media-heading"><a href="#">Praesent libero sed cursus ante dapibus diam</a></h4>
                            <ul>
                                <li><a href="#">Super User</a></li>
                                <li>15 October 2014</li>
                            </ul>
                        </div>
                    </div>

                </div>
                <!-- End Recent Post Widget -->

            </div>
        </div>

    </div>
</div>
</section>
<!-- End Blog Page Section -->