<div class="page-header">
  <div class="overlay">
    <div class="container">
      <div class="row">
        <a routerLink="/ana-sayfa" class="about-button text-center hidden-md hidden-lg mobile-back">Ana Sayfa</a>
        <div class="col-md-12">
          <a routerLink="/ana-sayfa" class="about-button text-left hidden-xs hidden-sm desktop-back">Ana Sayfa</a>
          <h1>Hall of Fame</h1>
          <h4 style="color: white; margin: auto; width: 60%;">Bir zamanlar ekibimizde olup Hackathon Türkiye'de emeği geçmiş arkadaşlarımız</h4>
        </div>
      </div>
    </div>
  </div>
</div>

<section style="min-height: 100vh;" id="team-section">
  <div class="container">
    <div class="row">
      <div class="col-md-3 col-sm-6 col-xs-6">
        <div class="team-member">
          <img src="../../../assets/images/team/emre-akbaki.jpg" class="img-responsive img-circle" alt="Uğur Atmaca" />
          <div class="team-details">
            <h4 style="color: black">
              Emre Akbaki
              <a href="https://www.linkedin.com/in/emreakbaki/" target="_blank"><i class="fa fa-linkedin"></i></a>
            </h4>
            <p style="color: white;">Frontend Developer</p>
          </div>
        </div>
      </div>
      <div class="col-md-3 col-sm-6 col-xs-6">
        <div class="team-member">
          <img src="../../../assets/images/team/arda-ozturk.jpg" class="img-responsive img-circle" alt="Uğur Atmaca" />
          <div class="team-details">
            <h4 style="color: black">
              Arda Öztürk
              <a href="https://www.linkedin.com/in/ardaozturk/" target="_blank"><i class="fa fa-linkedin"></i></a>
            </h4>
            <p style="color: white;">UI Designer</p>
          </div>
        </div>
      </div>
      <div class="col-md-3 col-sm-6 col-xs-6">
        <div class="team-member">
          <img src="../../../assets/images/team/irem-cetin.jpg" class="img-responsive img-circle" alt="Uğur Atmaca" />
          <div class="team-details">
            <h4 style="color: black">
              İrem Çetin
              <a href="https://www.linkedin.com/in/iremcetin/" target="_blank"><i class="fa fa-linkedin"></i></a>
            </h4>
            <p style="color: white;">UX Designer</p>
          </div>
        </div>
      </div>
      <div class="col-md-3 col-sm-6 col-xs-6">
        <div class="team-member">
          <img src="../../../assets/images/team/ege-dinnen.jpg" class="img-responsive img-circle" alt="Uğur Atmaca" />
          <div class="team-details">
            <h4 style="color: black">
              Ege Dinnen
              <a href="https://www.linkedin.com/in/egedinnen/" target="_blank"><i class="fa fa-linkedin"></i></a>
            </h4>
            <p style="color: white;">Frontend Developer</p>
          </div>
        </div>
      </div>
    </div>

    <!-- <div class="col-xs-12 col-sm-12 text-center">
      <a routerLink="/etkinlikler" class="about-button" style="margin:25px;">Hall of Fame</a>
    </div> -->
  </div>
</section>