<!-- Start Header Section -->
<div class="page-header">
    <div class="overlay">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1>HACKATHON TÜRKİYE</h1>
                    <p>HACKATHON'A DAİR HER ŞEY</p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Header Section -->

<!-- Start About Us Section -->
<section id="about-section" class="about-section">
    <div class="container">
        <div *ngIf="list && list.length > 0">
            <div *ngFor="let item of list.slice(0, 5);">
                <div class="row">
                    <div class="col-md-5">
                        <div class="about-img">
                            <img src="{{item.thumbnail}}" 
                            class="img-responsive" 
                            alt="{{item.thumbnail}}">
                        </div>
                    </div>
                    <div class="col-md-7">
                        <div class="about-header">
                            <h3>{{item.title}}</h3>
                        </div>
                        <div class="about-text">
                            <p>{{item.summary}}</p>
                        </div>

                        <div class="about-more">
                            <a class="btn btn-primary readmore btn-lg"
                                href="/blog-detay/{{item.slug}}">Daha Fazla...</a>
                            <div class="media pull-right">
                                <ul>
                                    <li><i class="fa fa-instagram"></i></li>
                                    <li><i class="fa fa-facebook"></i></li>
                                    <li><i class="fa fa-linkedin"></i></li>
                                    <li><i class="fa fa-twitter"></i></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <h3 class="text-danger text-center" *ngIf="!list || list.length === 0"> Kayıt Bulunamadı</h3>

    </div>
</section>