header {
  padding: 0px 0 64px;
}

.space {
  position: fixed;
  width: 400vw;
  height: 400vh;
  top: 50%;
  left: 50%;
  margin-top: -200vh;
  margin-left: -200vw;
  -webkit-animation: spin 240s linear infinite;
  animation: spin 240s linear infinite;
  background-size: 240px 240px;
  background-image: url(data:image/svg+xml;base64,PHN2ZyB2ZXJzaW9uPSIxLjEiIGlkPSJMYXllcl8yIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB4PSIwcHgiIHk9IjBweCIgdmlld0JveD0iMCAwIDI0MCAyNDAiIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcgMCAwIDI0MCAyNDAiIHhtbDpzcGFjZT0icHJlc2VydmUiPjxyZWN0IHg9IjEwNiIgeT0iOTAiIGZpbGw9IiNGRkZGRkYiIHdpZHRoPSIyIiBoZWlnaHQ9IjIiLz48cmVjdCB4PSI3NCIgeT0iNjMiIGZpbGw9IiNGRkZGRkYiIHdpZHRoPSIxIiBoZWlnaHQ9IjEiLz48cmVjdCB4PSIyMyIgeT0iNjYiIGZpbGw9IiNGRkZGRkYiIHdpZHRoPSIxIiBoZWlnaHQ9IjEiLz48cmVjdCB4PSI1MCIgeT0iMTEwIiBmaWxsPSIjRkZGRkZGIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIi8+PHJlY3QgeD0iNjMiIHk9IjEyOCIgZmlsbD0iI0ZGRkZGRiIgd2lkdGg9IjEiIGhlaWdodD0iMSIvPjxyZWN0IHg9IjQ1IiB5PSIxNDkiIGZpbGw9IiNGRkZGRkYiIHdpZHRoPSIxIiBoZWlnaHQ9IjEiLz48cmVjdCB4PSI5MiIgeT0iMTUxIiBmaWxsPSIjRkZGRkZGIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIi8+PHJlY3QgeD0iNTgiIHk9IjgiIGZpbGw9IiNGRkZGRkYiIHdpZHRoPSIxIiBoZWlnaHQ9IjEiLz48cmVjdCB4PSIxNDciIHk9IjMzIiBmaWxsPSIjRkZGRkZGIiB3aWR0aD0iMiIgaGVpZ2h0PSIyIi8+PHJlY3QgeD0iOTEiIHk9IjQzIiBmaWxsPSIjRkZGRkZGIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIi8+PHJlY3QgeD0iMTY5IiB5PSIyOSIgZmlsbD0iI0ZGRkZGRiIgd2lkdGg9IjEiIGhlaWdodD0iMSIvPjxyZWN0IHg9IjE4MiIgeT0iMTkiIGZpbGw9IiNGRkZGRkYiIHdpZHRoPSIxIiBoZWlnaHQ9IjEiLz48cmVjdCB4PSIxNjEiIHk9IjU5IiBmaWxsPSIjRkZGRkZGIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIi8+PHJlY3QgeD0iMTM4IiB5PSI5NSIgZmlsbD0iI0ZGRkZGRiIgd2lkdGg9IjEiIGhlaWdodD0iMSIvPjxyZWN0IHg9IjE5OSIgeT0iNzEiIGZpbGw9IiNGRkZGRkYiIHdpZHRoPSIzIiBoZWlnaHQ9IjMiLz48cmVjdCB4PSIyMTMiIHk9IjE1MyIgZmlsbD0iI0ZGRkZGRiIgd2lkdGg9IjIiIGhlaWdodD0iMiIvPjxyZWN0IHg9IjEyOCIgeT0iMTYzIiBmaWxsPSIjRkZGRkZGIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIi8+PHJlY3QgeD0iMjA1IiB5PSIxNzQiIGZpbGw9IiNGRkZGRkYiIHdpZHRoPSIxIiBoZWlnaHQ9IjEiLz48cmVjdCB4PSIxNTIiIHk9IjIwMCIgZmlsbD0iI0ZGRkZGRiIgd2lkdGg9IjEiIGhlaWdodD0iMSIvPjxyZWN0IHg9IjUyIiB5PSIyMTEiIGZpbGw9IiNGRkZGRkYiIHdpZHRoPSIyIiBoZWlnaHQ9IjIiLz48cmVjdCB5PSIxOTEiIGZpbGw9IiNGRkZGRkYiIHdpZHRoPSIxIiBoZWlnaHQ9IjEiLz48cmVjdCB4PSIxMTAiIHk9IjE4NCIgZmlsbD0iI0ZGRkZGRiIgd2lkdGg9IjEiIGhlaWdodD0iMSIvPjwvc3ZnPg==);
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@-webkit-keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
  }

  to {
    -webkit-transform: rotate(360deg);
  }
}

#logoandblog {
  display: flex;
  align-items: center;
}

.headerblog {
  text-align: right;
}

.headerblog a.contest {
  margin-right: 10px;
}

a.about-button {
  border-radius: 50px;
  color: #fff;
  display: inline-block;
  padding: 10px 15px;
  font-size: 18px;
  line-height: 1;
  cursor: pointer;
  text-transform: uppercase;
  box-shadow: 0 2px 0 0 rgba(196, 101, 97, 0.25), 0 -2px 0 0 rgba(76, 201, 189, 0.25), 2px 0 0 0 rgba(196, 101, 97, 0.25), -2px 0 0 0 rgba(76, 201, 189, 0.25), 2px -2px 0 0 rgba(136, 151, 143, 0.5), -2px 2px 0 0 rgba(136, 151, 143, 0.5), 2px 2px 0 0 #c9f1ff, -2px -2px 0 0 #3b6175;
}

a.about-button:before {
  display: none;
}

a.intro-item {
  display: inline-block;
  position: relative;
  margin-bottom: 12px;
  overflow: hidden;
  padding: 0;
}

a.intro-item:before {
  display: none;
}

a.intro-item .intro-view {
  background: #3b6175;
  bottom: 0;
  color: #fff;
  font-size: 14px;
  left: 0;
  line-height: 1;
  position: absolute;
  right: 0;
  padding: 23px 0;
  text-transform: uppercase;
  -webkit-transform: translate(0, 60px);
  transform: translate(0, 60px);
  -webkit-transition: -webkit-transform .3s ease;
  transition: transform .3s ease;
  width: 100%;
}

a.intro-item:hover .intro-view {
  -webkit-transform: translate(0, 0px);
  transform: translate(0, 0px);
}

.itembridge a:before {
  display: none;
}

.et-text {
  color: rgb(239 239 255 / 90%);
  ;
}

.intro-title {
  font-size: 22px;
  margin: 73px 0 48px;
  line-height: 1.3;
}

.feac-image {
  width: 200px;
  margin: 5px auto;
  height: 200px;
}

.feac-title {
  color: #C9F0FF;
  font-weight: bold;
  font-size: 18px;
  line-height: 1.4;
  text-transform: uppercase;
}

.feac-text {
  font-weight: 400;
  font-size: 16px;
  color: rgb(239 239 255);
  line-height: 1.76;
  margin-top: 15px;
}

.feachers .col-xs-12 {
  padding-bottom: 20px;
}

.feachers {
  padding-bottom: 70px;
}

.bulten {
  display: flex;
  justify-content: center;
  padding-bottom: 17px;
}

footer {
  padding-bottom: 50px;
}

.social-icons {
  display: inline-block;
  text-align: right;
  margin-top: 12px;
}

.social-icons a {
  color: #c9f1ff;
  display: inline-block;
  padding: 2px 10px;
  text-shadow: 1px 2px 0 #3b6175;
  z-index: 1;
}

.lastEvents {
  margin-bottom: 85px;
}

.social-icons a:hover {
  color: #fff;
}

.social-icons a:before {
  display: none;
}

.support,
.support a {
  font-size: 17px;
  color: #c9f1ff;
}

.support {
  padding-top: 20px;
  line-height: 1.4;
}

.support a:before {
  display: none;
}

.copy {
  font-size: 17px;
  padding-top: 17px;
  color: white;
}

.logotype img {
  max-width: fit-content;
  margin-top: -25px;
}

.img-events {
  width: 500px;
  height: 257px;
  border-radius: 10px;
}

.p0 {
  padding: 0px;
}

.searchareadiv {
  display: flex;
  justify-content: center;
}

.search-area {
  padding-top: 0em;
  display: grid;
}

.search-button {
  height: 34px;
  border: 1px solid #0000007a;
  border-radius: 15px;
}

.search-input {
  border-radius: 30px;
  border: 1px solid #0000007a;
}

.send-mail {
  height: 34px;
  border: 1px solid #0000007a;
}

.send-input {
  border-radius: 3px;
  border: 1px solid #0000007a;
}

.contact-sub {
  color: #C9F0FF;
  opacity: 0.8;
}

.contact .form-group {
  margin-bottom: 25px;
}

.contact {
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  padding-top: 80px;
  min-height: 40vh;
  padding-bottom: 40px;
}

.contact .form-group input,
.contact .form-group textarea,
.contact .form-group select {
  padding: 20px;
}

.contact .form-group input.form-control {
  height: auto;
  border-radius: 10px;
  border-color: #c9f1ffcf;
  border-style: inset;
}

.contact .form-group select.form-control {
  height: 65px;
  border-radius: 10px;
  border-color: #c9f1ffcf;
  border-style: inset;
}

@media (min-width: 990px){
  .contact #phone {
  width: 220px;
  }
}

.contact .form-group textarea.form-control {
  height: 243px;
  border-radius: 10px;
  border-color: #c9f1ffcf;
  border-style: inset;
}

.contact::-webkit-input-placeholder {
  text-transform: uppercase;
  font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 700;
  color: #bbb;
}

.contact:-moz-placeholder {
  text-transform: uppercase;
  font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 700;
  color: #bbb;
}

.contact:-ms-input-placeholder {
  text-transform: uppercase;
  font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 700;
  color: #bbb;
}

.contact button {
  font-weight: 400;
  margin-top: 30px;
}

.lastEvents .section-title {
  margin-bottom: 50px;
}

.section-title h1 {
  color: #C9F0FF;
  text-transform: none;
}

.section-title h2 {
  color: #C9F0FF;
  text-transform: none;
}

.section-title p {
  color: whitesmoke;
  margin-top: 1em;
  margin-bottom: 1em;
  letter-spacing: 1px;
  font-size: 18px;
  font-weight: 300;
}

.page-header {
  border: none;
}

.page-header h1 {
  font-weight: bold;
  font-size: 64px;
  line-height: 56px;
  color: #C9F0FF;
  font-family: 'Lora', serif;
  text-align: center;
  letter-spacing: 0.08em;
  text-transform: uppercase;
  font-variant: small-caps;
}

.page-header h2 {
  font-weight: bold;
  font-size: 64px;
  line-height: 56px;
  color: #C9F0FF;
  font-family: 'Lora', serif;
  text-align: center;
  letter-spacing: 0.08em;
  text-transform: uppercase;
  font-variant: small-caps;
}

.page-header p {
  font-family: 'Lora', serif;
  font-weight: bold;
  margin-top: 34px;
  opacity: 0.8;
  color: #C9F0FF;
  font-size: 24px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.32em;
  text-transform: uppercase;
}

@media (min-width: 320px) and (max-width: 480px) {
  .search-area {
    padding-top: 0;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .search-area {
    padding-top: 0;
  }
  .corp .wrapper-corp img:first-child {
    margin-top: 15px;
    padding-right: 10px;
   }
}

.team-details i {
  margin-left: 10px;
  font-size: 15px;
  color: #C9F0FF;
  cursor: pointer;
}

#team-section {
  color: #C9F0FF;
  overflow: hidden;
}

#team-section .row {
  padding-top: 100px;
}

#team-section .row:first-child {
  padding-top: 0;
}

.team-member {
  position: relative;
  overflow: hidden;
}

.team-member img {
  margin: 0 auto;
}

.team-member .team-details {
  color: #fff;
  text-align: center;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.team-member .team-details h4 {
  font-size: 19px;
  margin-top: 14px;
  margin-bottom: 14px;
}

.team-member .team-details p {
  font-size: 15px;
  color: #fff;
}

.team-member .team-details li {
  display: inline-block;
  padding-top: 20px;
}

.team-member .team-details li a {
  padding: 8px 12px;
  background: #fff;
  border: 1px solid transparent;
  color: #111;
  font-size: 16px;
}

.team-member .team-details li:hover a {
  background: transparent;
  color: #fff;
}

.discord {
  background-color: #fff;
  position: fixed;
  bottom: 0px;
  right: 5px;
  left: 0px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 15px;
  border-radius: 4px;
  text-align: center;
}

.discord p {
  color: #111;
}

.discord h2 {
  color: #3b6175;
}

.discord-button {
  border-radius: 50px;
  display: inline-block;
  padding: 10px 15px;
  font-size: 18px;
  line-height: 1;
  cursor: pointer;
  text-transform: uppercase;
  box-shadow: 0 2px 0 0 rgba(196, 101, 97, 0.25), 0 -2px 0 0 rgba(76, 201, 189, 0.25), 2px 0 0 0 rgba(196, 101, 97, 0.25), -2px 0 0 0 rgba(76, 201, 189, 0.25), 2px -2px 0 0 rgba(136, 151, 143, 0.5), -2px 2px 0 0 rgba(136, 151, 143, 0.5), 2px 2px 0 0 #c9f1ff, -2px -2px 0 0 #3b6175;
  background: transparent;
  color: #fff
}

.discord-button-open {
  font-size: 12px;
  margin-bottom: 10px;
  margin-right: 5px;
  color: #3b6175
}

.discord-button-close {
  font-size: 12px;
  color: #3b6175;
  margin-bottom: 10px;
}

.discord a {
  color: #111;
  text-decoration: none;
}

.discord a:hover {
  text-decoration: underline;
}

.discord #right {
  float: right;
  width: 30px;
  height: 20px;
  text-align: center;
}

.team-button {
  bottom: 20px;
  position: fixed;
  z-index: 10;
  right: 24px;
  width: 60px;
  height: 60px;
  cursor: pointer;
  transition: ease-in-out 0.3s;
}

.team-button img {
  opacity: 0.7;
}

.bulletin-button {
  bottom: 20px;
  position: fixed;
  z-index: 10;
  left: 24px;
  width: 60px;
  height: 60px;
  cursor: pointer;
  color: rgba(0, 0, 0, 0.5);
  transition: ease-in-out 0.3s;
}

.bulletin-button img {
  opacity: 0.7;
}

.team-button:hover img {
  opacity: 1;
  transition: ease-in-out 0.3s;
}

.bulletin-button:hover img {
  opacity: 1;
  transition: ease-in-out 0.3s;
}

.bulletin {
  background-color: #fff;
  position: fixed;
  bottom: 5px;
  right: 5px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 15px;
  border-radius: 4px;
  text-align: center;
}

.bulletin p {
  color: #111;
}

.bulletin h2 {
  color: #3b6175;
}

.bulletin-close {
  margin-top: 10px;
}

.corp {
  margin-bottom: 50px;
  margin-top: 50px;
}

.corp .section-title {
  margin-bottom: 20px;
}

.corp .wrapper-corp {
  margin: 20px;
  display: flex;
}

.corp .wrapper-corp .item {
  margin: 10px;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.corp .wrapper-corp img:first-child {
 padding-right: 10px;
}

.corp .wrapper-corp .item .dk {
  margin-top: 0;
}

.swing:hover
{
  -webkit-animation: swing 1s ease;
  animation: swing 1s ease;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}

@-webkit-keyframes swing
{
    15%
    {
        -webkit-transform: translateX(5px);
        transform: translateX(5px);
    }
    30%
    {
        -webkit-transform: translateX(-5px);
       transform: translateX(-5px);
    } 
    50%
    {
        -webkit-transform: translateX(3px);
        transform: translateX(3px);
    }
    65%
    {
        -webkit-transform: translateX(-3px);
        transform: translateX(-3px);
    }
    80%
    {
        -webkit-transform: translateX(2px);
        transform: translateX(2px);
    }
    100%
    {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}
@keyframes swing
{
    15%
    {
        -webkit-transform: translateX(5px);
        transform: translateX(5px);
    }
    30%
    {
        -webkit-transform: translateX(-5px);
        transform: translateX(-5px);
    }
    50%
    {
        -webkit-transform: translateX(3px);
        transform: translateX(3px);
    }
    65%
    {
        -webkit-transform: translateX(-3px);
        transform: translateX(-3px);
    }
    80%
    {
        -webkit-transform: translateX(2px);
        transform: translateX(2px);
    }
    100%
    {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}