<!-- Start Blog Page Section -->
<section class="blog-detail">
    <div class="container">
        <div class="row">
            <!-- Start Blog Body Section -->
            <div class="col-md-12 col-sm-12 col-xs-12 blog-body">
                    <div *ngIf="blogdetail && !loading">
                        <div class="blog-post">
                            <div class="post-img">
                                <img src="{{blogdetail.thumbnail}}" class="img-responsive" alt="{{blogdetail.title}}">
                            </div>
                            <h1 class="post-title">{{blogdetail.title}}<span class="time"> {{blogdetail.time}}
                                    Dk</span> </h1>
    
                            <ul class="post-meta">
                                <li><i class="fa fa-clock-o"></i>October 25 2014</li>
                                <li><i class="fa fa-user">     
                                </i><a href="/blog/?author__username={{blogdetail.author.username}}">{{blogdetail.author.first_name}}</a></li>
                                <div class="tag-area" *ngFor="let tag of blogdetail.tags">
                                    <li><i class="fa fa-tags"></i><a href="#">{{tag.name}}</a></li>
                                </div>
                                <div class="pull-right social">
                                    <li><i class="fa fa-instagram"></i></li>
                                    <li><i class="fa fa-facebook"></i></li>
                                    <li><i class="fa fa-linkedin"></i></li>
                                    <li><i class="fa fa-twitter"></i></li>
                                </div>
                            </ul>
                            <p class="post-content" [innerHTML]="blogdetail.body"></p>
                        </div>
                        <!-- Start Blog Author Section -->
                    <div class="blog-author">
                        <h3>Yazar Hakkında</h3>
                        <div class="media">
                            <div class="media-left">
                                <a href="#">
                                    <img class="media-object" src="../../../assets/images/user.png" alt="...">
                                </a>
                            </div>
                            <div class="media-body">
                                <h4 class="media-heading">{{blogdetail.author.first_name}} {{blogdetail.author.last_name}}
                                    <span class="pull-right ">
                                        <ul class="post-meta">
                                            <div class="social">
                                                <li *ngIf="blogdetail.author.profile.instagram"><a href="{{blogdetail.author.profile.instagram}}" target="_blank"><i class="fa fa-instagram"></i></a></li>
                                                <li *ngIf="blogdetail.author.profile.facebook"><a href="{{blogdetail.author.profile.facebook}}" target="_blank"><i class="fa fa-facebook"></i></a></li>
                                                <li *ngIf="blogdetail.author.profile.linkedin"><a href="{{blogdetail.author.profile.linkedin}}" target="_blank"><i class="fa fa-linkedin"></i></a></li>
                                                <li *ngIf="blogdetail.author.profile.twitter"><a href="{{blogdetail.author.profile.twitter}}" target="_blank"><i class="fa fa-twitter"></i></a></li>
                                            </div>
                                        </ul>
                                    </span>
                                </h4>
                                <p>{{blogdetail.author.profile.bio}}</p>
                            </div>
                        </div>
                    </div>
                    <!-- End Blog Author Section -->

                    <disqus [identifier]="pageId"></disqus>

                    </div>

                    <h3 class="text-danger text-center" *ngIf="!blogdetail && !loading"> Kayıt Bulunamadı</h3>
    
            </div>
    
        </div>
    </div>
    </section>
    <!-- End Blog Page Section -->