.blog-body {
  background: #E8E8E8;
}

.media-body {
  display: contents;
}

.container {
  margin-top: 20px;
  margin-bottom: 50px;
}

.social li>i {
  color: #16222A;
}

.post-title {
  font-size: 24px;
  font-weight: 400;
  line-height: 110%;
  padding: 10px 0 20px 0;
  margin: 0 0 20px 0;
  border-bottom: 1px solid #ddd;
  text-transform: capitalize;
}

.blog-post {
  padding: 20px;
}

.blog-post .post-img {
  position: relative;
}

.blog-post .post-img img {
  margin: 0 0 16px 0;
  border-radius: 3px;
  width: 100%;
}

.blog-post .post-type {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.blog-post .post-type i {
  padding: 15px;
  background: #fff;
  font-size: 16px;
  color: #4392F1;
  border-radius: 3px;
  position: absolute;
  top: 45%;
  left: 48%;
}

.blog-post .post-img:hover .post-type {
  opacity: 1;
}

.blog-post .post-img:hover .post-type i {
  -webkit-animation: fadeInDownBig;
  animation: fadeInDownBig;
  -webkit-animation-duration: 300ms;
  animation-duration: 300ms;
}

h1.post-title {
  font-weight: 400;
  line-height: 110%;
  padding: 10px 0 20px 0;
  margin: 0 0 20px 0;
  border-bottom: 1px solid #ddd;
  text-transform: capitalize;
}

h1.post-title a {
  color: #5c5c5c;
}

.blog-post ul.post-meta {
  margin: 0;
  padding: 0;
  margin-bottom: 20px;
}

.blog-post .post-meta li {
  display: inline-block;
  padding-right: 10px;
  color: #959595;
}

.blog-post .post-meta li i {
  cursor: pointer;
}

.blog-post .post-meta li a {
  color: #5c5c5c;
  cursor: pointer;
}

.blog-post .post-meta li a:hover {
  color: #4392F1;
}

.blog-post .post-meta li i {
  color: #4392F1;
  margin-right: 10px;
}

.blog-post .post-meta .tag-area {
  display: inline-block;
}

.blog-post p.post-content {
  margin-bottom: 30px;
}

.blog-post a.btn-primary {
  background: #4392F1;
  border: 1px solid #4392F1;
  font-weight: 300;
}

.time {
  font-size: 0.7em;
  color: #5c5c5c;
  float: right;
}

.blog-author {
  border-top: 1px solid lightgray;
}

.blog-author h3 {
  color: #32313b;
  text-transform: capitalize;
  font-size: 30px;
  line-height: 33px;
  margin-top: 10px;
}

.blog-author .media {
  margin: 25px 0 16px 0;
  padding: 8px;
}

.blog-author .media-left {
  float: left;
}

.blog-author .media img {
  width: 120px;
  height: 120px;
  margin-right: 20px;
  border-radius: 8px;
  border: 6px solid #f2f2f2;
}

.blog-author .media-body h4 a {
  text-transform: capitalize;
  color: #323232;
  font-size: 20px;
}

.blog-author .media-body p {
  color: #778899;
}

.blog-author ul.post-meta {
  margin: 0;
  padding: 0;
  margin-bottom: 20px;
}

.blog-author .post-meta li {
  display: inline-block;
  padding-right: 10px;
  color: #959595;
}

.blog-author .post-meta li i {
  cursor: pointer;
}

.blog-author .post-meta li a {
  color: #5c5c5c;
  font-size: 0.9em;
}

.blog-author .post-meta li a:hover {
  color: #4392F1;
}

.blog-author .post-meta li i {
  color: #4392F1;
  margin-right: 10px;
}

.user-small-img {
  cursor: pointer;
  width: 33px;
  height: 33px;
  border-radius: 100%;
  margin-right: 10px;
  border: 2px solid #fff;
}